{{#if resume.publications.length}}
    <section class="section-publications">
        {{> components/title icon='pushpin' title='Publications'}}

        {{#each resume.publications}}
            <div class="card">
                {{#if name}}
                    <div class="card-block">
                        <div class="card-header">
                            <h4 class="card-title">
                                {{name}}
                                {{#if publisher}}
                                    <span class="card-subtitle">{{publisher}}</span>
                                {{/if}}
                            </h4>
                            {{#if releaseDate}}
                                <div class="card-caption">
                                    <span class="card-text card-dates">
                                        {{formatDate releaseDate}} ({{dateAgo releaseDate}})
                                    </span>
                                </div>
                            {{/if}}
                        </div>
                        {{#if website}}
                            <div class="card-footer">
                                <a class="card-link text-secondary" href="{{website}}">
                                    {{removeSchema website}}
                                </a>
                            </div>
                        {{/if}}
                    </div>
                {{/if}}
            </div>
        {{/each}}
    </section>
{{/if}}
