{{#if resume.volunteer.length}}
    <section class="section-volunteer">
        {{> components/title icon='hand' title='Volunteer'}}

        {{#each resume.volunteer}}
            <div class="card">
                {{#if startDate}}
                    <div class="card-header">
                        <span class="card-text card-dates">
                            <span class="date-range">
                                {{formatDate startDate}} - {{formatDate endDate}}
                            </span>
                            {{#if ../themeConfig.volunteerDuration}}
                                <span class="duration">
                                    ({{dateDiff startDate endDate}})
                                </span>
                            {{/if}}
                        </span>
                        {{#unless endDate}}
                            <span class="badge badge-outline-success">current</span>
                        {{/unless}}
                    </div>
                {{/if}}

                {{#if position}}
                    <div class="card-block">
                        <h4 class="card-title">
                            {{position}}
                            {{#if organization}}
                                <span class="card-subtitle">{{organization}}</span>
                            {{/if}}
                        </h4>
                    </div>
                {{/if}}
            </div>
        {{/each}}
    </section>
{{/if}}
