{{#if resume.basics}}
    <section class="section-contact">
        {{>title icon='el-phone' title='Contact'}}
        <ul>
            {{#if resume.basics.location}}
                <li class="icon-item clearfix">
                    <i class="el-map-marker text-primary"></i>
                    <span class="text-secondary">
                    {{resume.basics.location.address}}
                        {{resume.basics.location.postalCode}}
                        {{resume.basics.location.city}}
                        {{resume.basics.location.region}}
                        {{resume.basics.location.countryCode}}
                </span>
                </li>
            {{/if}}
            {{#if resume.basics.email}}
                <li class="icon-item clearfix">
                    <i class="el-envelope text-primary"></i>
                    <span class="text-secondary">{{resume.basics.email}}</span>
                </li>
            {{/if}}
            {{#if resume.basics.phone}}
                <li class="icon-item clearfix">
                    <i class="el-phone text-primary"></i>
                    <span class="text-secondary">{{resume.basics.phone}}</span>
                </li>
            {{/if}}
            {{#if resume.basics.website}}
                <li class="icon-item clearfix">
                    <i class="el-link text-primary"></i>
                    <a class="text-secondary" href="{{resume.basics.website}}">
                        {{removeSchema resume.basics.website}}
                    </a>
                </li>
            {{/if}}
        </ul>
        {{#if resume.basics.profiles.length}}
            <ul>
                {{#each resume.basics.profiles}}
                    <li class="icon-item clearfix">
                        <i class="el-{{sanitizeLowercase network}} text-primary"></i>
                        <a class="text-secondary" href="{{url}}">
                            {{removeSchema url}}
                        </a>
                    </li>
                {{/each}}
            </ul>
        {{/if}}
    </section>
{{/if}}
