{{#if resume.publications.length}}
    <section class="section-publications">
        {{>title icon='el-pushpin' title='Publications'}}

        {{#each resume.publications}}
            <div class="card">
                {{#if releaseDate}}
                    <div class="card-header">
                        <span class="card-text card-dates">
                            {{formatDate releaseDate}} ({{dateAgo releaseDate}})
                        </span>
                    </div>
                {{/if}}

                {{#if name}}
                    <div class="card-block">
                        <h4 class="card-title">
                            {{name}}
                            {{#if publisher}}
                                <span class="card-subtitle">{{publisher}}</span>
                            {{/if}}
                        </h4>
                        {{#if summary}}
                            <div class="card-text">{{{summary}}}</div>
                        {{/if}}
                    </div>
                {{/if}}
                {{#if website}}
                    <div class="card-footer">
                        <a class="card-link text-secondary" href="{{website}}">
                            <i class="el-link text-primary"></i><span>{{website}}</span>
                        </a>
                    </div>
                {{/if}}
            </div>
        {{/each}}
    </section>
{{/if}}
