{{#if resume.volunteer.length}}
    <section class="section-volunteer">
        {{>title icon='el-hand-up' title='Volunteer'}}

        {{#each resume.volunteer}}
            <div class="card">
                {{#if startDate}}
                    <div class="card-header">
                        <span class="card-text card-dates">
                            {{formatDate startDate}} - {{formatDate endDate}} ({{dateDiff startDate endDate}})
                        </span>
                        {{#unless endDate}}
                            <span class="badge badge-outline-success">current</span>
                        {{/unless}}
                    </div>
                {{/if}}

                {{#if position}}
                    <div class="card-block">
                        <h4 class="card-title">
                            {{position}}
                            {{#if organization}}
                                <span class="card-subtitle">{{organization}}</span>
                            {{/if}}
                        </h4>
                        {{#if summary}}
                            <div class="card-text">{{{summary}}}</div>
                        {{/if}}
                    </div>
                {{/if}}
                {{#or highlights.length website}}
                    <div class="card-footer text-muted">
                        {{#if website.length}}
                            <a class="card-link text-secondary" href="{{website}}">
                                <i class="el-link"></i><span>{{website}}</span>
                            </a>
                        {{/if}}
                        {{#if highlights.length}}
                            <ul class="card-highlights">
                                {{#each highlights}}
                                    <li class="badge badge-outline-secondary">
                                        {{this}}
                                    </li>
                                {{/each}}
                            </ul>
                        {{/if}}
                    </div>
                {{/or}}
            </div>
        {{/each}}
    </section>
{{/if}}
