{{#if resume.work.length}}
    <section class="section-work">
        {{>title icon='el-suitcase' title='Experience'}}

        {{#each resume.work}}
            <div class="card">
                {{#if startDate}}
                    <div class="card-header">
                        <span class="card-text card-dates">
                            {{formatDate startDate}} - {{formatDate endDate}} ({{dateDiff startDate endDate}})
                        </span>
                        {{#unless endDate}}
                            <span class="ml-2 text-success">current</span>
                        {{/unless}}
                    </div>
                {{/if}}

                {{#if position}}
                    <div class="card-block">
                        <h4 class="card-title">
                            {{position}}
                            {{#if company}}
                                <span class="card-subtitle">{{company}}</span>
                            {{/if}}
                        </h4>
                        {{#if summary}}
                            <div class="card-text">{{{summary}}}</div>
                        {{/if}}
                    </div>
                {{/if}}
                {{#or highlights.length website}}
                    <div class="card-footer">
                        {{#if website}}
                            <a class="card-link text-secondary" href="{{website}}">
                                <i class="el-link text-primary"></i><span>{{website}}</span>
                            </a>
                        {{/if}}
                        {{#if highlights}}
                        <div class="card-tags" href="{{website}}">
                            <i class="el-tags text-primary"></i>
                            <div class="tag-list">
                            {{#each highlights}}
                                <span class="tag text-secondary">{{this}}</span>
                            {{/each}}
                            </div>
                        </div>
                        {{/if}}
                    </div>
                {{/or}}
            </div>
        {{/each}}
    </section>
{{/if}}
