{{#if resume.awards.length}}
    <section class="section-awards">
        {{> components/title icon='medal' title='Awards'}}

        {{#each resume.awards}}
            <div class="card">
                {{#if logo}}
                    <div class="card-aside">
                        <div class="card-image">
                            <img src="{{logo}}" alt="{{awarder}}">
                        </div>
                    </div>
                {{/if}}
                <div class="card-block">
                    <div class="card-header">
                        {{#if title}}
                            <h3 class="card-title">
                                {{title}}
                                {{#if awarder}}
                                    <span class="card-subtitle text-secondary">{{awarder}}</span>
                                {{/if}}
                            </h3>
                        {{/if}}
                        {{#if date}}
                            <div class="card-caption text-secondary">
                                <span class="card-text card-dates">
                                    <span class="date-range">
                                        {{formatDate date}}
                                    </span>
                                    {{#if ../themeConfig.awardDateSince}}
                                        <span class="duration">
                                            ({{dateAgo date}})
                                        </span>
                                    {{/if}}
                                </span>
                            </div>
                        {{/if}}
                    </div>
                    {{#if summary}}
                        <div class="card-body">{{{summary}}}</div>
                    {{/if}}
                </div>
            </div>
        {{/each}}
    </section>
{{/if}}
