{{#if resume.education.length}}
    <section class="section-education">
        {{> components/title icon='book' title='Education'}}

        {{#each resume.education}}
            <div class="card">
                {{#if logo}}
                    <div class="card-aside">
                        <div class="card-image">
                            <img src="{{logo}}" alt="{{institution}}">
                        </div>
                    </div>
                {{/if}}
                <div class="card-block">
                    <div class="card-header">
                        {{#if studyType}}
                            <h3 class="card-title">
                                {{studyType}} {{area}}
                                {{#if institution}}
                                    <span class="card-subtitle text-secondary">{{institution}}</span>
                                {{/if}}
                            </h3>
                        {{/if}}
                        {{#if startDate}}
                            <div class="card-caption text-secondary">
                                <span class="card-text card-dates">
                                    <span class="date-range">
                                        {{formatDate startDate}} - {{formatDate endDate}}
                                    </span>
                                    {{#if ../themeConfig.educationDuration}}
                                        <span class="duration">
                                            ({{dateDiff startDate endDate}})
                                        </span>
                                    {{/if}}
                                </span>
                                {{#unless endDate}}
                                    <span class="badge badge-success">current</span>
                                {{/unless}}
                            </div>
                        {{/if}}
                    </div>

                    {{#if courses.length}}
                        <div class="card-body">
                            <ul>
                                {{#each courses}}
                                    <li>{{this}}</li>
                                {{/each}}
                            </ul>
                        </div>
                    {{/if}}
                </div>
            </div>
        {{/each}}
    </section>
{{/if}}
