{{#if resume.publications.length}}
    <section class="section-publications">
        {{> components/title icon='pushpin' title='Publications'}}

        {{#each resume.publications}}
            <div class="card">
                {{#if logo}}
                    <div class="card-aside">
                        <div class="card-image">
                            <img src="{{logo}}" alt="{{publisher}}">
                        </div>
                    </div>
                {{/if}}
                <div class="card-block">
                    <div class="card-header">
                        {{#if name}}
                            <h3 class="card-title">
                                {{name}}
                                {{#if publisher}}
                                    <span class="card-subtitle">{{publisher}}</span>
                                {{/if}}
                            </h3>
                        {{/if}}
                        {{#if releaseDate}}
                            <div class="card-caption">
                                <span class="card-text card-dates">
                                    {{formatDate releaseDate}} ({{dateAgo releaseDate}})
                                </span>
                            </div>
                        {{/if}}
                    </div>
                    {{#if summary}}
                        <div class="card-body">{{{summary}}}</div>
                    {{/if}}
                    {{#if website}}
                        <div class="card-footer">
                            <a class="card-link icon-item text-secondary" href="{{website}}">
                                <svg class="text-primary">
                                    <use xlink:href="#link"></use>
                                </svg>
                                <span>{{website}}</span>
                            </a>
                        </div>
                    {{/if}}
                </div>
            </div>
        {{/each}}
    </section>
{{/if}}
