{{#if resume.certifications.length}}
    <section class="section-certifications">
        {{> components/title icon='certification' title='Certifications'}}

        {{#each resume.certifications}}
            <div class="card">
                {{#if date}}
                    <div class="card-header">
                        <span class="card-text card-dates">
                            {{formatDate date}} ({{dateAgo date}})
                        </span>
                    </div>
                {{/if}}

                {{#if title}}
                    <div class="card-block">
                        <h4 class="card-title">
                            {{title}}
                            {{#if awarder}}
                                <span class="card-subtitle">{{awarder}}</span>
                            {{/if}}
                        </h4>
                        {{#if summary}}
                            <div class="card-text">{{{summary}}}</div>
                        {{/if}}
                    </div>
                {{/if}}
            </div>
        {{/each}}
    </section>
{{/if}}
