{{#if resume.work.length}}
    <section class="section-work">
        {{> components/title icon='briefcase' title='Experience'}}

        {{#each resume.work}}
            <div class="card">
                {{#if startDate}}
                    <div class="card-header">
                        <span class="card-text card-dates">
                            {{formatDate startDate}} - {{formatDate endDate}} ({{dateDiff startDate endDate}})
                        </span>
                        {{#unless endDate}}
                            <span class="badge badge-success">current</span>
                        {{/unless}}
                    </div>
                {{/if}}

                {{#if position}}
                    <div class="card-block">
                        <h3 class="card-title">
                            {{position}}
                            {{#if company}}
                                <span class="card-subtitle">{{company}}</span>
                            {{/if}}
                        </h3>
                        {{#if summary}}
                            <div class="card-text">{{{summary}}}</div>
                        {{/if}}
                    </div>
                {{/if}}
                {{#or highlights.length website}}
                    <div class="card-footer">
                        {{#if website}}
                            <a class="card-link icon-item text-secondary" href="{{website}}">
                                <svg class="text-primary">
                                    <use xlink:href="#link"></use>
                                </svg>
                                <span>{{website}}</span>
                            </a>
                        {{/if}}
                        {{#if highlights}}
                        <div class="card-tags icon-item" href="{{website}}">
                            <svg class="text-primary">
                                <use xlink:href="#tags"></use>
                            </svg>
                            <div class="tag-list">
                            {{#each highlights}}
                                <span class="tag text-secondary">{{this}}</span>
                            {{/each}}
                            </div>
                        </div>
                        {{/if}}
                    </div>
                {{/or}}
            </div>
        {{/each}}
    </section>
{{/if}}
